

body,
ul {
  margin: 0px;
  padding: 0px;
}
body{
    background-color: white;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
    color: #30ff00;
}

#logo{
border: 0;
margin-left: 10%;
}
#logo img{
    max-width: 50px;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #340064;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}
/*Noticias*/
.titulo-ultimas-noticias{color:#340064;display:flex;margin-left: 8%;margin-top: 3%;}
.ultimas-noticias{display: flex; gap: 10px; width: 85%;margin: 0 auto;padding-top: 15px;border-top: 7px solid black;margin-bottom: 50px;}
.noticia1,.noticia2,.noticia3,.noticia4{width: 21,25%;}
.noticia1 img,.noticia2 img,.noticia3 img,.noticia4 img{width: 100%;height:200px;}
.ultimas-noticias h4{color:red;}
.ver-mais-noticiais{color: #340064;text-align: center;margin-bottom: 120px;}
.ver-mais-noticiais a{padding: 15px;background-color: #340064;border-radius: 16px;display: inline-flex;}
/*Fecha Noticias*/
/*Hall Senna*/
.hall-sennat6-background{background-image: url(imagens/background-hall.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;}
.hall-sennat6{width: 80%; margin: 0 auto;display: flex;gap:10px;justify-content: center;padding-bottom: 20px;}
.titulo-hall-sennat6 h1{color:white;text-align: center;display: block;width: 100%;margin-top:0px;padding-top: 35px;}
.driver-rank-2{width: 22%;}
.driver-rank-1{width: 25%;}
.driver-rank-3{width: 22%;}
.driver-image-2{width: 100%;margin-top: 17%;}
.driver-image-1{width: 100%;}
.driver-image-3{width: 100%;margin-top: 17%}
/*Fim Hall Senna*/
/*Inicio Classificação Senna*/
.pilotos-senna{
  width: 57.5%;
  margin: 0 auto;
  margin-bottom: 160px;
}
.pilotos-senna li{
    list-style-type: none;
}
.senna{padding: 10px;border-radius:5px;width: 100%; margin-top: 10px;display: flex;gap: 10px;}
.senna:hover{color: white;cursor: pointer;background-color: black;}
.senna-10{padding: 10px;border-radius:5px;width: 100%; margin-top: 10px;display: flex;gap: 6px;}
.senna-10:hover{color: white;cursor: pointer;background-color: black;}
.team-haas-ico{background-color: gray;color: gray;}
.team-haas-ico-williams{background-color: rgb(27, 110, 245);color: rgb(27, 110, 245);}
.team-haas-ico-romeo{background-color: rgb(146, 1, 1);color: rgb(146, 1, 1);}
.team-haas-ico-martin{background-color: rgb(16, 139, 74);color:rgb(16, 139, 74);}
.team-haas-ico-alpine{background-color: rgb(31, 63, 170);color: rgb(31, 63, 170);}
.equipe{color:gray;font-size: 13px;}
.pontos-direita {margin-left: auto;}
.nome-do-piloto-10{margin-left: 5px;}
.classificacao-titulo{text-align: center;color: #340064;}
/*FIM da Classificação daa Senna*/

/*Inicio rodape*/
.rodape{
  color: white;
  background-color:#340064;;
  width: 100%;
  padding: 4px 0;
  gap: 20px;
  position: absolute;
  bottom: 0;
}
.logo-titulo-rodape{
  padding: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.logo-rodape img{
  max-width: 60px;
   text-align: center;
  }
  .painel-footer{
    display: flex;
    justify-content: center;
    gap: 20%;
    list-style-type: none;
    margin-top: 10px;
  }
  .painel-footer span{
    font-size: 22px;
  }
  .pagina-footer{margin-top: 4px;}

/*Fim do rodape*/
@media screen and (max-width: 768px) {
  /*CELULAR*/
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #0971bb;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .rodape h1{
      font-size: 14px;
  }
  .rodape img{
    height: 46px ;
    padding-top: 5px;
} 
#logo{
    border: 0;
    margin-left: 3%;
    }



}/*media*/

@media screen and (max-width: 1100px){
.noticia1,.noticia2,.noticia3{width: 33.33%;}
.noticia1 img,.noticia2 img,.noticia3 img{width: 100%;height:200px;}
.noticia4{display: none;}
}
@media screen and (max-width: 830px){
  .noticia1,.noticia2{width: 50%;}
  .noticia1 img,.noticia2 img{width: 100%;height:200px;}
  .noticia4,.noticia3{display: none;}
  }
  @media screen and (max-width: 768px){
    .noticia1{width: 100%;}
    .noticia1 img{width: 100%;height:200px;}
    .noticia2,.noticia4,.noticia3{display: none;}
    .pilotos-senna{width: 80%;}
    .pilotos-senna li{font-size: 14px;}
    .pilotos-senna{
      margin-bottom: 120px;
  }
  }
  @media screen and (max-width: 450px){
    .noticia1{width: 100%;}
    .noticia1 img{width: 100%;height:200px;}
    .noticia2,.noticia4,.noticia3{display: none;}
    .pilotos-senna{width: 85%;}
    .pilotos-senna li{font-size: 11px;}
    .equipe{font-size: 7px;}
    .classificacao-titulo {font-size: 18px;}
  }

/*Fecha Media SENNA*/


/*Inicio Mais noticias*/
.todas-noticias-titulo{display: block;color: #340064;text-align: center;}
.todas-noticias{width: 85%;margin: 0 auto;margin-bottom: 200px;}
.noticia{display:flex;height: 200px;gap: 10px;margin-bottom: 10px;cursor: pointer;}
.thumb img{height: 200px;width: 300px;}
.thumb{height: 200px;}
.todos-texto{margin-left: 5px;width: 100%;}
.todos-texto h1{font-size: 20px;}
.todos-texto a{font-size: 20px;color: black;}
.todos-texto p{color: gray;}
.info-senna{color:#30ff00}
.info-lauda{color:#066db1}
/*Fim das Mais noticias*/
/*Media mais noticias*/
@media screen and (max-width: 950px){
  .todas-noticias{width: 90%}
  }
  @media screen and (max-width: 850px){
    .todas-noticias{width: 95%}
    .thumb img{height: 100%;width: 100%;}
    .thumb{height: 150px;width: 200px;}
    .noticia{height: 150px;}
    .todos-texto h1{font-size: 15px;}
    .todos-texto p{font-size: 14px;}
    .info-senna,.info-lauda{font-size: 12px;}
    }
    @media screen and (max-width: 600px){
      .todas-noticias{width: 95%}
      .thumb img{height: 100%;width: 100%;}
      .thumb{height: 110px;width: 160px;}
      .noticia{height: 110px;gap: 6px;}
      .todos-texto h1{font-size: 12px;}
      .todos-texto p{font-size: 10px;}
      .info-senna,.info-lauda{font-size: 10px;}
      .todas-noticias-titulo{font-size: 24px;}
      }
      @media screen and (max-width: 420px){
        .todas-noticias{width: 95%}
        .thumb img{height: 100%;width: 100%;}
        .thumb{height: 70px;width: 150px;}
        .noticia{height: 70px;gap: 4px;}
        .todos-texto h1{font-size: 7px;}
        .todos-texto p{font-size: 6px;}
        .info-senna,.info-lauda{font-size: 5px;}
        .todas-noticias-titulo{font-size: 16px;}
        }
/*Fecha Media mais noticias*/

/*Abre o Regulamento*/
.regulamento h1{text-align: center;color: #340064;font-size: 20px;}
.regulamento{width: 90%;margin: 0 auto;margin-bottom: 300px;}
.regulamento h4{font-size: 19;font-weight:200;}
.regulamento h2{background-color: yellow;display: inline-block;font-size: 19px;}
.pontuacao-regulamento{list-style-type: none;}
.pontuacao-regulamento-pai{display: flex;gap: 8%;}
/*Fecha o Regulamento*/
/*Abre inscrição F2*/
.cadastro{display: flex;padding-bottom: 200px;}
.cadastro-titulo{margin-top: 0px;padding-top: 30px;}
.manual-f2{width: 25%;margin: 0 auto;background-color: #3194d6;border-radius: 20px;text-align: left;box-sizing: border-box;padding-left: 5%;}
.manual-h2-f2{font-size: 17px;}
#formulariof2{margin: 0 auto;font-size: 20px;margin-top:10px;}
.formas-de-pagamento{width: 25%;margin: 0 auto;background-color: #3194d6;border-radius: 20px;}
.formas-de-pagamento-img{width: 35%;text-align: left;margin-left: -20%;}
.formas-de-pagamento-h2{font-size: 17px;text-align: left;padding-left: 22%;}
.form-f2-body{text-align: center;color: #000000;background-color: rgb(200, 189, 189);}
input{border-radius: 20px;width: 45%;background-color: rgba(255, 255, 255, 0.685);height: 26px;text-align: center;}
.pagamento{
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;}
  .formf2-bg{width: 40%;}
  #increver-se{background-color: red;border-radius: 20px;margin-top: 15px;height: 26px;width: 45%;}
  .enviar-comprovante{margin-left: 3%;font-size: 15px}
  label{width: 100%;display: inline-block;margin: 8px 0px;}
/*Fecha inscrição F2*/
/*Media Inscrição F2 */
@media screen and (max-width: 648px){
  .cadastro{flex-direction: column;}
  .manual-f2{width: 90%;}
  .manual-h2-f2{font-size: 15px;}
  .formf2-bg{width: 90%;}
  .formas-de-pagamento{width: 90%;margin-top: 30px;}
  .formas-de-pagamento-h2{padding-left: 5%;font-size: 15px;}
  .formf2-bg{width: 100%;}
  .formas-de-pagamento-img{width: 25%;text-align: left;margin-left: -57%;}
  .enviar-comprovante{margin-left: -25%;font-size: 15px}
  .cadastro-titulo{font-size: 20px;padding-top: 20px;}
}
/*Fecha Media inscricao f2*/